/* styles.css */
 
/* Colori per i turni */
.shift-F1, .shift-F2, .shift-F3, .shift-F4, .shift-F5, .shift-F6, .shift-F7, .shift-F8, .shift-EXTRA{
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
}
.shift-F1 {background-color: #f8d7da; }
.shift-F2 {background-color: #ffd6a5; }
.shift-F3 { background-color: #fdffb6; }
.shift-F4 { background-color: #caffbf; }
.shift-F5 { background-color: #9bfbc0; }
.shift-F6 { background-color: #a0c4ff; }
.shift-F7 { background-color: #b9fbc0; }
.shift-F8 { background-color: #c2dfff; }
.shift-EXTRA { background-color: #ef5d6e; }

.shift-details {
    font-size: 0.8em;
    color: #555;
}

/* Evidenzia sabato e domenica */
.saturday, .sunday {
    background-color: #f0f0f0;
}

.cell-shift{
    position: relative; /* Rende possibile il posizionamento assoluto all'interno della cella */
}

.header-day {
    min-width: 150px;
}

.schedule-table-container {
    flex: 1; /* Fai in modo che la tabella occupi lo spazio disponibile */
    overflow-y: auto; /* Aggiungi uno scroll verticale se necessario */
}

/**/
.schedule-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-x: auto;
}
.schedule-header {
    background-color: #f8f9fa;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
.employee-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.employee-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}
.employee-name{
    vertical-align: middle !important;
}
.shift {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    padding: 5px;
}
.flexible {
    background-color: #d4edda;
    color: #155724;
    border-radius: 4px;
    padding: 5px;
}
.leave {
    background-color: #fff3cd;
    color: #856404;
    border-radius: 4px;
    padding: 5px;
}
.weekend {
    background-color: #e2e3e5;
    color: #383d41;
    border-radius: 4px;
    padding: 5px;
}

.circle-preference {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}